{% if INSTAGRAM_ID %}
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/instafeed.min.js"></script>  
{% raw %}
  <script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        sortBy: 'most-recent',
        limit: 8,
        userId: 361018940,
        accessToken: '361018940.467ede5.ab481cfcaafd4454a1ea333429e3d3c7',
        template: '<div class="insta-grid"><a href="{{link}}" target="_blank"><img src="{{image}}" /></a></div>'
    });
    userFeed.run();
  </script>
{% endraw %}
{% endif %}