<header class="post-info">
  <div class="row" id="info-bar" style="margin-bottom: 0">
    <div class="one-third column info-item">
      {% if article.authors %}
        <div class="author">
	  {% for author in article.authors %}
	  <a class="info-link" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
	  {% endfor %}
  	</div><!-Author ->
      {% endif %}
    </div>
    <div class="one-third column info-item">
      {% set timestamp = article.date.replace(tzinfo=None) - EPOCH %}
      <span class="info-pub" title="{{ timestamp.total_seconds() }}"> {{ article.locale_date }} </span>
    </div>
    <div class="one-third column info-item">
        <a class="info-link" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </div>
  </div>
</header>
