{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<article>
  <div class="article_text">
    {{ page.content }}
  </div>
  <div class="article_meta">
    <p>Updated on: {{ page.locale_date }}</p>
  </div>
</article>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <style type="text/css">
    body {
        font: 400 16px/1.6 "Droid Serif", Georgia, Cambria, "Times New Roman", Times, serif;
    }
    span {
        white-space: normal;
    }
  </style>
  <script src="http://lighterpack.com/e/cqtaab"></script><div id="cqtaab"></div>
{% endblock %}
