{% extends "base.html" %}

{% block head_extra %}
  <meta property="og:image" content="route.png" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <style>
    html, body, #map { margin: 0; height: 100%; background: #fff; }
    .wrapper-container {
      height: 100%;
      padding: 0px;
      margin: 0px;
      max-width: 100%;
    }

    @media only screen and (max-width:1023px) {

     .wrapper-container, #map {
        height: 500px;
      }
    }
    .leaflet-marker-live {
      -webkit-animation: pulse 2s ease-out;
      animation: pulse 2s ease-out;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
    @-webkit-keyframes pulse {
      from { stroke-width: 15; stroke-opacity: 1; }
      to { stroke-width: 50; stroke-opacity: 0; }
    }
    @keyframes pulse {
      from { stroke-width: 15; stroke-opacity: 1; }
      to { stroke-width: 50; stroke-opacity: 0; }
    }
  </style>
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/MarkerCluster.css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/Leaflet.Instagram.css" />
{{ page.content }}
  
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="{{ SITEURL }}/theme/js/reqwest.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/Leaflet.MakiMarkers.js"></script>
  <script src="{{ SITEURL }}/theme/js/Leaflet.SpotTracker.js"></script>
  <script src="{{ SITEURL }}/theme/js/leaflet.markercluster.js"></script>
  <script src="{{ SITEURL }}/theme/js/Leaflet.Instagram.Cluster.js"></script>
  <script>
  var feed = decodeURI((RegExp('feed=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]);
  var map = L.map('map', { zoomControl: false }).setView([45.5, -122.4], 7);
    
  L.tileLayer('http://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png', {
  }).addTo(map);
  L.spotTracker(feed, {
    api: 'http://bwainstock.cartodb.com/api/v2/sql',
    url: "{api}?q=SELECT * FROM test ORDER BY unixtime",
    liveUrl: "{api}?q=SELECT * FROM pct_spot WHERE unixtime > {timestamp} ORDER BY unixtime",
    OK: {
      icon: L.MakiMarkers.icon({ icon: 'building',  color: '#145291', size: 'm' }),
      title: 'Hytte'
    },
    CUSTOM: {
      icon: L.MakiMarkers.icon({ icon: 'campsite', color: '#145291', size: 'm' }),
      title: 'Telt'
    },
    onClick: function (evt) {
      var message = evt.message;
      evt.layer.bindPopup(getTime(message.unixtime)).openPopup();
    },
    show: {
      'UNLIMITED-TRACK': 10,
      'OK': 10,
      'CUSTOM': 10
    }
  }).addTo(map);

  var insta = L.instagram.cluster('https://api.instagram.com/v1/users/361018940/media/recent/?access_token=361018940.467ede5.ab481cfcaafd4454a1ea333429e3d3c7');

  var InstagramLayer = { "Photos": insta };

  new L.control.layers(null, InstagramLayer, { collapsed: false }).addTo(map);

  new L.Control.Zoom({ position: 'topright' }).addTo(map);

  function getPlace (message) {
    if (message.placename) {
      return L.Util.template('<p><strong>{placename}</strong><br>{terrain} {altitude} moh.</p>', message);
    }
    return '';
  }
  function getTime (timestamp) {
    var t = new Date(timestamp * 1000);
    return L.Util.template('<p>{month} {date}, {year} {hours}:{minutes}</p>', {
      date: t.getDate(),
      month: ['January','February','March','April','May','June','July','August','September','October','November','December'][t.getMonth()],
      year: t.getFullYear(),
      hours: t.getHours(),
      minutes: ('0' + t.getMinutes()).slice(-2)
    });
  }
  </script>

{% endblock %}
